// bower:scss
// endbower

$white: #FFFFFF;
$green: #029A80;
$yellow: #FCE700;


@font-face {
  font-family: 'Druk Web';
  src: url('/font/Druk-Super-Web.eot');
  src: url('/font/Druk-Super-Web.eot?#iefix') format('embedded-opentype'),
  url('/font/Druk-Super-Web.woff') format('woff'),
  url('/font/Druk-Super-Web.ttf') format('truetype'),
  url('/font/Druk-Super-Web.svg#Druk Web') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

.druk {
  font-family: 'Druk Web';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

body {
  background: #F6F6F3;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

img {
  width: 100%;
  outline: none;
}

button {
  display: inline-block;
  margin: 0;
  padding: 15px 25px;
  font-size: 12px;
  line-height: 1.8;
  vertical-align: bottom;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

h1 {
  font-size: 65px;
  line-height: 80px;
  color: $green; 
  text-align: center;
  letter-spacing: 2px;   
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fat {
  font-weight: bold;
}

/*nav*/
.contain-to-grid .top-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contain-to-grid {
  background: $white;
}

.top-bar {
  background: $white;
}

.top-bar-section ul li > a {
  color: $green;
}

.top-bar-section ul li:hover:not(.has-form) > a {
  background: $white;
  color: $green;
  background-color: $white;
}

 .top-bar-section li:not(.has-form) a:not(.button) {
  background: $white;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: transparent;
  color: $green;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: $white;
  color: $green;
  background-color: $white;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: $white;
  color: $green;
}

.top-bar .toggle-topbar.menu-icon a span::after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 0.9375rem;
    box-shadow: 0 0 0 1px $green, 0 7px 0 1px $green, 0 14px 0 1px $green;
    width: 16px;
}

.top-bar-section ul li {
    background: transparent;
}

/* menu effect */
.lr {
  display: inline-block;
}
.lr:after {
  margin-top: -10px;
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.lr:hover:after {
  width: 100%;
  background: $green;
}

/*menu responsive*/
.logo-responsive {
    width: 120px;
    height: 16px;
    overflow: visible;
    position: absolute;
    top: 20px;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    margin-top: 0px;
    z-index: 0;
    background-repeat: no-repeat;
    max-width: 100%;
    }

.menu-opener, .menu-opener:hover, .menu-opener.active, .menu-opener-inner, .menu-opener-inner::before, .menu-opener-inner::after, .menu, .menu.active {
  -webkit-transition: 250ms all;
  transition: 250ms all;
    z-index: 11;
}

.menu-opener {
  cursor: pointer;
  height: 64px;
  position: absolute;
  top: 0%;
  left: 0%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 100%;
  z-index:2;
  background: $white;
}
.menu-opener.active {
  background: $white;
}

.menu-opener-inner {
  background: $green;
  height: .5rem;
  margin-left: .75rem;
  margin-top: 1.75rem;
  width: 2.5rem;
}
.menu-opener-inner::before, .menu-opener-inner::after {
  background: $green;
  content: '';
  display: block;
  height: .5rem;
  width: 2.5rem;
}
.menu-opener-inner::before {
  -webkit-transform: translateY(-0.75rem);
  -ms-transform: translateY(-0.75rem);
  transform: translateY(-0.75rem);
}
.menu-opener-inner::after {
  -webkit-transform: translateY(0.25rem);
  -ms-transform: translateY(0.25rem);
  transform: translateY(0.25rem);
}
.menu-opener-inner.active {
  background: transparent;
}
.menu-opener-inner.active::before {
  -webkit-transform: translateY(0rem) rotate(-45deg);
  -ms-transform: translateY(0rem) rotate(-45deg);
  transform: translateY(0rem) rotate(-45deg);
}
.menu-opener-inner.active::after {
  -webkit-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  -ms-transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
  transform: translateY(-0.5rem) translateX(0rem) rotate(45deg);
}

.menu {
  background: $green;
  color: transparent;
  height: auto;
  position: absolute;
  top: 64px;
  left: 0%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 0rem;
  z-index: 1;
}
.menu.active {
  /*width: -webkit-calc(100% - 2rem);
  width: calc(100% - 2rem);*/
    width: 100%; 
}
.menu.active .menu-link {
  color: white;
}

.menu-inner {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  height: 100%;
  list-style-type: none;
  margin: 0;
  margin-left: 0rem;
  padding: 0;
}

.menu-link {
  color: transparent;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  font-size: 2rem;
  font-weight: 100;
  height: 100%;
  text-align: center;
  text-decoration: none;
}
.menu-link li {
  margin: auto;
}

/*logo*/
.logo-wrapper {
  position: relative;
}

.logo-wrapper .logo {
  width: 100px;
  height:  40px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 5px;
  margin-left: -46px;
  z-index: 2;
}

.tuk {
  position: absolute;
  display: block;
  // cursor: pointer;
  // margin-left: -50px;
}

.tuk-gif {
  display: block;
  position: absolute;
  width: 100px;
  height: 60px;
  background-image: url(../images/elements5.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: scale(0.7) translateY(-10px);
  animation: 2s giffy infinite step-end;
  animation-play-state: paused;
  margin-left: -100px; 
}

.tuk-gif:hover  {
  animation-play-state: running;
}

@keyframes giffy {
  0% {
    background-position: 0 0;
  }
  25% {
      background-position: -100px 0;
  }
  50% {
      background-position: -200px 0;
  }
  75% {
      background-position: -300px 0;
  }
  100% {
      background-position: 0 0;
  }
}

.centered {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.textIntro {
  width: 100%;
  font-size: 65px;
  line-height: 80px;
  color: $green; 
  text-align: center;
  text-decoration: underline;
  letter-spacing: 2px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.textContainer {
  width: 90%; 
  max-width: 100%; 
  position: relative; 
  margin-top: 250px;
  left: 50%; 
  -webkit-transform: translate(-50%, -50%); 
  transform: translate(-50%, -50%);
}

.border {
  margin-top:50px;
  outline: none;
  button {
    color: $green;
    background: $white;
    border: solid 3px $green;
  }
  button:hover, section.border button.hover {
    border-color: $green;
    color: $white;
    background: $green;
    font-weight: bold;
  }
  .green {
    color: $white;
    background: $green;
    border: solid 3px $white;
  }
  .green:hover {
    border-color: $white;
    color: $green;
    background: $white;
    font-weight:bold;
  }
}
/*experience section*/
#experience {
  background-color: $green;
  padding: 100px 0px;
  p{
      color: $white;
      font-size: 16px;
      text-align: left;
  }
  h1 {
      color: $white;
      border-bottom: 5px solid $white;
      display: inline-block;
      margin: 15px 0px 5px 0px;
  }
  .desc {
      margin-top: 80px;
  }
  .photo {
      margin-top: 50px;
  }
}

.bgIntro {
  width: 100%;
  overflow: visible;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  margin-top: 0px;
  height: auto;
  z-index: 0;
  background-repeat: no-repeat;
  max-width: 100%;
}

.contentIcon {
  position: relative;
  max-width: 100%;
  display: block;
}

.nopadding {
  padding: 0 !important;
}

#map_canvas {
  top: 70px;
  /*width: 100%;*/
  height: 500px;
  max-width: 100%;
  margin-left: 15px;
  width: 97%;
}

#info-container {
  height: 500px;
  width: 500px;
  left: 50%;
  margin-top:-430px;
  background: $white; 
  display: none;
  position: absolute;
}   

.thumbContainer {
  width: 100%; 
  height: auto;
  background: $white;
  position: relative;
  padding: 30px;
  & h5 {
        color: $green !important;
        margin-top: 0px;
        margin-bottom: 25px; 
  }
  & p {
        font-size: 16px;
        color: $green !important;
  }
}

.thumb {
  margin-top: 150px;
  background: transparent;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center center;
  position: relative;
}   

/*booking*/
#booking {
  padding: 100px 0px;
  p { 
      color: $green;
      font-size: 16px;
      text-align: left;
  }
  h1 {
      color: $green;
      border-bottom: 5px solid $green;
      display: inline-block;
      margin: 15px 0px 5px 0px;
  }
  .desc {
      margin-top: 50px;
  }
  .photo {
      margin-top: 50px;
  }
}

/*advertise*/
#advertise {
  background-color: $yellow;
  padding: 100px 0px;
  p { 
      color: $green;
      font-size: 16px;
      text-align: left;
  }
  h1 {
      color: $green;
      border-bottom: 5px solid $green;
      display: inline-block;
      margin: 15px 0px 5px 0px;
  }
  .desc {
      margin-top: 50px;
  }
  .photo {
      margin-top: 50px;
  }
}

#slides, #slides2 {
  display: none
}

#slides {
  .next-button, .prev-button {
    margin-top: 40px;
    width: 35px;
    height: 35px;

  }
}


#slides2 {
  margin-top: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;

    .slides-js-style {
      overflow: hidden;
      height: 1000px;
      width: 595px;
    }

     .slidesjs-navigation {
      margin-top:3px;
    }

    .slidesjs-previous {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-next {
      margin-right: 5px;
      float: left;
    }

    .slidesjs-pagination {
      margin: 6px 0 0;
      float: right;
      list-style: none;
    }

    .slidesjs-pagination li {
      float: left;
      margin: 0 1px;
        overflow: hidden;
    }


    .slidesjs-pagination li a {
      display: block;
      width: 18px;
      height: 0;
      padding-top: 20px;
      background-image: url(../images/pagination.svg);
      background-position: 0 0;
      float: left;
      overflow: hidden;
    }

    .slidesjs-pagination li a.active,
    .slidesjs-pagination li a:hover.active {
      background-position: 0 -18px;
    }

    .slidesjs-pagination li a:hover {
      background-position: 0 -36px;
      opacity: 0.8; 
    }

    #slides a:link,
    #slides a:visited {
      color: #333
    }

    #slides a:hover,
    #slides a:active {
      color: #9e2020
    }

    .navbar {
      overflow: hidden
    }
}

/*faq*/
#faq {
  background-color: $green;
  padding: 100px 0px;
  p{
      color: $white;
      font-size: 16px;
      text-align: left;
  }
  h1 {
      color: $white;
      border-bottom: 5px solid $white;
      display: inline-block;
      margin: 15px 0px 5px 0px;
  }
  .desc {
      margin-top: 30px;
  }
  .faq {
      margin-top: 50px;
  }
}

/*accordions*/
.accordion:last-child .accordion-navigation:last-child, .accordion dd:last-child {
  border-bottom: 3px solid rgba(255, 255, 255, 0.65);
}

.accordion .accordion-navigation, .accordion dd {
  border-top: 3px solid rgba(255, 255, 255, 0.65);
}

.accordion .accordion-navigation, .accordion dd {
  border-top: 3px solid rgba(255, 255, 255, 0.65);
}

.accordion .accordion-navigation > a, .accordion dd > a {
  background: transparent;
  color: rgba(255, 255, 255, 0.65);
  font-family: inherit;
  padding-left: 0;
  padding: 0.7rem 0.5rem;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
  background: transparent;
  color: $white;
  border-top: 3px solid $white;
  margin-top: -3px;
  border-bottom: 3px solid $white;
  margin-bottom: -3px;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
  background: transparent;
  color: $white;
  margin-top: -3px;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
  background: transparent;
  border-bottom: 3px solid $white;
  color: $white;
  border-top: 3px solid white;
  margin-top: -3px;
}

.accordion-navigation {
  >a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid rgba(255, 255, 255, 0.65);
  top: 8px;
  position: relative;
  float: right;
  z-index:8;
  }
  &.active a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid $white;
 -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  }
}

/*newsletter*/
#newsletter {
  background-color: #f6f6f4;
  padding: 50px 0px;
  p{
    color: $green;
    font-size: 16px;
    text-align: left;
  }
  h1 {
    color: $green;
    border-bottom: 5px solid $white;
    display: inline-block;
    margin: 15px 0px 5px 0px;
  }
  .desc {
    margin-top: 70px;
  }
  .email {
    margin-top: 50px;
  }
}

input[type="text"] {
  width: 75%;
  float:left;
  height: 65px;
  border: 3px solid $green;
  outline: none;
  background: $white;
  color: $green;
}

input[type="submit"] {
  height: 65px;
  width: 25%;
  background: $green;
  color: white;
  border: 0;
  outline: none;
}

::-webkit-input-placeholder {
 color: $green;
}

:-moz-placeholder { /* Firefox 18- */
 color: $green;
}

::-moz-placeholder {  /* Firefox 19+ */
 color: $green;  
}

:-ms-input-placeholder {  
  color: $green;  
}

input[type="text"]:focus {
  border-color: $green;
}

/*footer*/
#footer {
  background-color: $white;
  padding: 50px 0px;
  p{
    color: $green;
    font-size: 14px;
    text-align: left;
    margin-bottom: 0.25rem; 
  }
  h1 {
    color: $green;
    border-bottom: 5px solid $white;
    display: inline-block;
    margin: 15px 0px 5px 0px;
  }
  a {
    color: $green;
    font-size: 14px;
  }
  .desc {
    margin-top: 50px;
  }
  .details {
    margin-top: 50px;
  }
  .lr {
  display: inline-block;
  }
  .lr:after {
    margin-top: 0px;
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: transparent;
    transition: width .5s ease, background-color .5s ease;
  }
  .lr:hover:after {
    width: 100%;
    background: $green;
  }
}

@media (max-width: 1024px) { 

  #slides2 {
    margin-top: 300px;
  }

  .menu-opener {
    visibility: hidden;
  }

  .menu.active {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .contain-to-grid {
    display:none;
  }

  .menu-opener {
    visibility: visible;
  }
  
  .menu-inner {
    display: block;
  }

  .menu-link {
    padding: 10px 0;
    font-size: 1.2em;
  }

  .centered {
    top:22%;
  }

  .textContainer {
    margin-top: 250px;
  }

  .top-bar {
    height: 2.8125rem;
    line-height: 2.8125rem;
    overflow: hidden;
    position: relative;
  }
  .tuk-gif {
    display: none;
  }

  .faq {
    padding-left: 0;
  }


  #slides2 {
    margin-top: 250px;
  }
}

@media only screen and (max-device-width: 480px) { 
  h1 {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px; 
  }

  .textIntro {
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 1px;  
  }

  .centered {
    top:25%;
  }

  .textContainer {
    margin-top: 130px;
  }

  #map_canvas {
    margin-left: 15px;
    width: 90%;
  }
    
  #slides2 {
   margin-top: 90px;
  }

}