// bower:scss
// endbower

$white: #FFFFFF;
$green: #029A80;
$yellow: #FCE700;


@font-face {
  font-family: 'Druk Web';
  src: url('/font/Druk-Super-Web.eot');
  src: url('/font/Druk-Super-Web.eot?#iefix') format('embedded-opentype'),
  url('/font/Druk-Super-Web.woff') format('woff'),
  url('/font/Druk-Super-Web.ttf') format('truetype'),
  url('/font/Druk-Super-Web.svg#Druk Web') format('svg');
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

.druk {
  font-family: 'Druk Web';
  font-weight: 900;
  font-style: normal;
  font-stretch: normal;
}

body {
  background: #F6F6F3;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

img {
  width: 100%;
  outline: none;
}

button {
    display: inline-block;
    margin: 0;
    padding: 15px 25px;
    font-size: 12px;
    line-height: 1.8;
    vertical-align: bottom;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

h1 {
 font-size: 65px;
  line-height: 80px;
  color: $green; 
  text-align: center;
  letter-spacing: 2px;   
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.fat {
  font-weight: bold;
}

/*nav*/
.contain-to-grid .top-bar {
  margin-top: 10px;
  margin-bottom: 10px;
}

.contain-to-grid {
  background: $white;
}

.top-bar {
  background: $white;
}

.top-bar-section ul li > a {
  color: $green;
}

.top-bar-section ul li:hover:not(.has-form) > a {
  background: $white;
  color: $green;
  background-color: $white;
}

 .top-bar-section li:not(.has-form) a:not(.button) {
  background: $white;
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
  background: transparent;
  color: $green;
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
  background: $white;
  color: $green;
  background-color: $white;
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
  background: $white;
  color: $green;
}

.top-bar .toggle-topbar.menu-icon a span::after {
    content: "";
    display: block;
    height: 0;
    position: absolute;
    margin-top: -8px;
    top: 50%;
    right: 0.9375rem;
    box-shadow: 0 0 0 1px $green, 0 7px 0 1px $green, 0 14px 0 1px $green;
    width: 16px;
}

.top-bar-section ul li {
    background: transparent;
}

/* menu effect */
.lr {
  display: inline-block;
}
.lr:after {
  margin-top: -10px;
  content: '';
  display: block;
  height: 3px;
  width: 0;
  background: transparent;
  transition: width .5s ease, background-color .5s ease;
}
.lr:hover:after {
  width: 100%;
  background: $green;
}

/*logo*/
.logo-wrapper {
  position: relative;
}

.logo-wrapper .logo {
  width: 100px;
  height:  40px;
  position: absolute;
  left: 50%;
  right: 50%;
  top: 5px;
  margin-left: -46px;
  z-index: 2;
}

.tuk {
  position: absolute;
  display: block;
  // cursor: pointer;
  // margin-left: -50px;
}

.tuk-gif {
  display: block;
  position: absolute;
  width: 100px;
  height: 60px;
  background-image: url(../images/elements5.svg);
  background-position: 0 0;
  background-repeat: no-repeat;
  transform: scale(0.7) translateY(-10px);
  animation: 2s giffy infinite step-end;
  animation-play-state: paused;
}

.tuk-gif:hover  {
  animation-play-state: running;
}

@keyframes giffy {
  0% {
    background-position: 0 0;
  }
  25% {
      background-position: -100px 0;
  }
  50% {
      background-position: -200px 0;
  }
  75% {
      background-position: -300px 0;
  }
  100% {
      background-position: 0 0;
  }
}


.centered {
  position: fixed;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.textIntro {
  position: absolute; 
  font-size: 65px;
  line-height: 80px;
  color: $green; 
  text-align: center;
  text-decoration: underline;
  letter-spacing: 2px;
}

/*slide*/
.slides {
    margin: 150px 0px 0px 0px; 
    padding: 0;
    width: 1000px;
    height: 595px;
    display: block;
    position: relative;
}

.slides * {
    user-select: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

.slides input { 
    display: none; 
}

.slide-container { 
    display: block; 
}

.slide {
    top: 0;
    opacity: 0;
    width: 1000px;
    height: 695px;
    display: block;
    position: absolute;
    //-webkit-transition : all 2s ease-out;
    //-moz-transition : all 2s ease-out;
    //-o-transition : all 2s ease-out;
    //transition : all 2s ease-out;
    //animation: fadeInLoad 5s;
}

.slide img {
    width: 100%;
    height: 100%;  
}

.nav label {
    width: 200px;
    height: 100%;
    display: none;
    position: absolute;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
    -webkit-transition : all 2s ease-out;
    -moz-transition : all 2s ease-out;
    -o-transition : all 2s ease-out;
    transition : all 2s ease-out;
    animation: fadeInLoad 5s;
    animation-delay: 2s;
    color: #FFF;
    font-size: 156pt;
    text-align: center;
    line-height: 380px;
    background-color: rgba(255, 255, 255, .3);
}

.slide:hover + .nav label { 
  opacity: 0.5; 
}

input:checked + .slide-container  .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
  width: 100%;
  bottom: -20%;
  height: 11px;
  display: block;
  position: absolute;
  text-align: right;
}

.nav-dots .nav-dot {
  top: -5px;
  width: 11px;
  height: 11px;
  margin: 0 4px;
  position: relative;
  border-radius: 100%;
  display: inline-block;
  background-color: $white;
  border: 2px solid $green;
}

.nav-dots .nav-dot:hover {
  cursor: pointer;
  background-color: $green;
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4,
input#img-5:checked ~ .nav-dots label#img-dot-5,
input#img-6:checked ~ .nav-dots label#img-dot-6 {
  background: $green;
}

@keyframes fadeInLoad {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.border {
    margin-top:20px;
    outline: none;
    button {
      color: $green;
      background: $white;
      border: solid 3px $green;
    }
    button:hover, section.border button.hover {
      border-color: $green;
      color: $white;
      background: $green;
      font-weight: bold;
    }
    .green {
      color: $white;
      background: $green;
      border: solid 3px $white;
    }
    .green:hover {
      border-color: $white;
      color: $green;
      background: $white;
      font-weight:bold;
    }
}
/*experience section*/
#experience {
  background-color: $green;
  padding: 50px 0px;
  p{
      color: $white;
      font-size: 16px;
      text-align: left;
  }
  h1 {
      color: $white;
      border-bottom: 5px solid $white;
      display: inline-block;
      margin: 15px 0px 5px 0px;
  }
  .desc {
      margin-top: 80px;
  }
  .photo {
      margin-top: 50px;
  }
}

.contentIcon {
  position: relative;
  max-width: 100%;
  display: block;
}

.nopadding {
  padding: 0 !important;
}

.experiencePhoto {

}

#map_canvas {
  top: 70px;
  width: 983px;
  height: 500px;
  max-width: 100%;
  margin-left: 17px;
}

#info-container {
  height: 500px;
  width: 500px;
  left: 50%;
  margin-top:-430px;
  background: $white; 
  display: none;
  position: absolute;
}   

.thumbContainer {
  width: 100%; 
  height: 250px;
  background: $white;
  position: relative;
  padding: 30px;
  & h5 {
        color: $green !important;
        margin-top: 0px;
        margin-bottom: 25px; 
  }
  & p {
        font-size: 16px;
        color: $green !important;
  }
}

.thumb {
  margin-top: 150px;
  background: transparent;
  width: 100%;
  height: 150px;
  background-size: cover;
  background-position: center center;
  position: relative;
}   

/*booking*/
#booking {
  padding: 50px 0px;
  p { 
      color: $green;
      font-size: 16px;
      text-align: left;
  }
  h1 {
      color: $green;
      border-bottom: 5px solid $green;
      display: inline-block;
      margin: 15px 0px 5px 0px;
  }
  .desc {
      margin-top: 50px;
  }
  .photo {
      margin-top: 50px;
  }
}

/*advertise*/
#advertise {
  background-color: $yellow;
  padding: 50px 0px;
  p { 
      color: $green;
      font-size: 16px;
      text-align: left;
  }
  h1 {
      color: $green;
      border-bottom: 5px solid $green;
      display: inline-block;
      margin: 15px 0px 5px 0px;
  }
  .desc {
      margin-top: 50px;
  }
  .photo {
      margin-top: 50px;
  }
}

#slides {
  display: none
}
#slides .slidesjs-navigation {
  margin-top:3px;
}
#slides .slidesjs-previous {
  margin-right: 5px;
  float: left;
}
#slides .slidesjs-next {
  margin-right: 5px;
  float: left;
}
#slides a:link,
#slides a:visited {
  color: #333
}
#slides a:hover,
#slides a:active {
  color: #9e2020
}
.navbar {
  overflow: hidden
}

/*faq*/
#faq {
  background-color: $green;
  padding: 50px 0px;
  p{
      color: $white;
      font-size: 16px;
      text-align: left;
  }
  h1 {
      color: $white;
      border-bottom: 5px solid $white;
      display: inline-block;
      margin: 15px 0px 5px 0px;
  }
  /*span {
      top: 7px;
      position: relative;
      float: right;
      &a {
        border-top: 12px solid $white; 
      }
      &a:hover {
        border-top: 12px solid $white;
      }
      &a:active{
        border-top: 12px solid $white;
      }
  }*/
  .desc {
      margin-top: 80px;
  }
  .faq {
      margin-top: 50px;
  }
}

.accordion .accordion-navigation, .accordion dd {
  border-top: 3px solid rgba(255, 255, 255, 0.65);
}

.accordion .accordion-navigation > a, .accordion dd > a {
  background: transparent;
  color: rgba(255, 255, 255, 0.65);
  font-family: inherit;
}

.accordion .accordion-navigation > a:hover, .accordion dd > a:hover {
  background: transparent;
  color: $white;
}

.accordion .accordion-navigation > .content.active, .accordion dd > .content.active {
  background: transparent;
  color: $white;
}

.accordion .accordion-navigation.active > a, .accordion dd.active > a {
  background: transparent;
  border-bottom: 3px solid $white;
  color: white;
}

.accordion-navigation {
  >a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid rgba(255, 255, 255, 0.65);
  top: 5px;
  position: relative;
  float: right;
  }
  &.active a:after {
  content: '';
  width: 0;
  height: 0;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  border-top: 12px solid $white;
   -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
  }
    
}